@charset "UTF-8";
   /*포스터 카드 호버 시 크기 확대+위로 올리가기*/




      .poster:hover {
         transform: scale(1.02) translateY(-0.5em);
         transition-duration: 0.5s;
      }
      .poster:not(:hover) { 
         transform: scale(1.0) translateY();
         transition-duration: 0.5s;

       } 
       
      
       
       .z{
          font-weight: bold;
       }
       .lo {
          color: rgba(128, 128, 128, 0.654);
          font-weight: lighter;
       
          
       }
       
.pop:hover{
	color:rgb(148 180 159);
	font-weight: bold;
	font-size:103%;	
}


       
   
/* 밑줄 애니매이션 */
    
       .toto{
  position:absolute;
  background-color:#000;
  color:#fff;
  animation-name: totrend;
  animation-duration:1s;
animation-duration: leaner;
animation-fill-mode: forwards;
}

@-webkit-keyframes totrend {
  0% {
    left:130px;
  
  }
  100% {
    left:240px	;
  }
}

 .toto2{
  position:absolute;
 
  background-color:#000;
  color:#fff;
  animation-name: torent;
  animation-duration:1s;
animation-duration: leaner;
animation-fill-mode: forwards;
}

@-webkit-keyframes torent {
  0% {
    left:240px
  }
  100% {
    left:130px
  }
}


.toto3 {
margin-left:20px
}

.toto4 {
margin-left:50px 
}

.card-text{
	background-color: transparent;
}
      
