<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="egovframework.ECALL_O.main.web" level="INFO" additivity="FALSE">
			<AppenderRef ref="console" />
		</Logger>
	</Loggers>
</Configuration>
